extends layout

block content
  h1= title
  p Welcome to #{title}

  script(src="/bower_components/jquery/dist/jquery.min.js")
  script(src="/bower_components/materialize/dist/js/materialize.min.js")
  script(src="js/script.js")
